<div class="row">
  <div class="col-md-4">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Basic functions</li>
      <li>Advanced Functions</li>
      <li><a href="{{site.lc_pages}}library-openrefine/reference">Reference...</a></li>
    </ul>
  </div>
</div>

  
  <div class="col-md-4">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Introduction to R</li>
      <li>Starting with data</li>
      <li>Aggregating and analyzing data with dplyr</li>
      <li>Data visualization with ggplot2</li>
      <li><a href="http://www.datacarpentry.org/R-ecology-lesson/">Reference...</a></li>
    </ul>
  </div>
  
  <div class="col-md-4">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference/">Reference...</a></li>
    </ul>
  </div>

 
